@import "./quasar.variables.scss";
@import "quasar/dist/quasar.sass";
// @import '~quasar-addon-styl';

aside.q-drawer--mobile {
  width: 90% !important;
  max-width: 25rem !important;
}

.q-field--standout .q-field__control {
  background: none;
  box-shadow: var(--field-shadow);
  transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
  animation: grow-in-input 1s;
}

.q-gutter-x-md > *,
.q-gutter-md > * {
  margin-right: 16px;
}

.q-bar,
.q-footer__content,
.q-header__content,
.q-bar__content,
.q-card__section,
.q-stepper__content,
.q-stepper__header,
.q-stepper__nav {
  background: none !important;
  // background-color: var(--venue-light) !important;
}

body,
.q-drawer__content,
.q-toolbar,
.q-card,
.q-time,
.q-time__container-child,
.q-date {
  background-color: var(--venue-light) !important;
}

.q-dialog__backdrop {
  background-color: var(--venue-light-backdrop) !important;
}

.q-stepper__step-inner {
  padding-top: 0rem !important;
}

.q-expansion-item__container .q-item .q-focus-helper {
  border-radius: 1rem !important;
}

.q-btn {
  box-shadow: var(--button-shadow);
  animation: grow-in-button 1s !important;
}
.q-date__content .q-btn {
  box-shadow: unset !important;
}

.q-btn-group {
  box-shadow: var(--button-shadow);
  animation: grow-in-button 1s !important;
}

.q-btn-group .q-btn {
  border-radius: 0.25rem !important;
  box-shadow: none !important;
}

.courses div.q-item .q-item__section--side {
  padding-right: 0rem !important;
}

.courses .q-expansion-item__container > .q-item {
  padding: 0px 16px 0px 0px !important;
}

.q-time__container-child,
.q-dialog__inner > div,
.q-menu {
  box-shadow: var(--button-shadow) !important;
}
