@import "./quasar.variables.scss";
@import "quasar/dist/quasar.sass";
// @import '~quasar-addon-styl';

.q-field--standout .q-field__control {
  background: none;
  box-shadow: inset 0.25rem 0.25rem 0.25rem #bebebe, inset -0.25rem -0.25rem 0.25rem #f8f8f8cc,
    0.25rem 0.25rem 0.25rem #bebebe, -0.25rem -0.25rem 0.25rem #f8f8f8;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.q-gutter-x-md > *,
.q-gutter-md > * {
  margin-right: 16px;
}

.q-bar,
.q-footer__content,
.q-header__content,
.q-bar__content,
.q-card__section,
.q-stepper__content,
.q-stepper__header,
.q-stepper__nav {
  background: none !important;
  // background-color: var(--venue-light) !important;
}

body,
.q-drawer__content,
.q-toolbar,
.q-card {
  background-color: var(--venue-light) !important;
}

.q-stepper__step-inner {
  padding-top: 0rem !important;
}
