// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #1a4974;
$secondary: #2c3e50a0;
$accent: #8a2b36;

$dark: #1d1d1d;

$positive: #1a6e2e;
$negative: #8a2b36;
$info: #31ccec;
$warning: #7e651f;

// @import "~quasar-variables";
